<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<h2>Case:  <%= @user.id %>!</h2>
  	<h2>Name:  <%= @user.name %>!</h2>
    <h2>Email:  <%= @user.email %>!</h2>
    <h2>Created:  <%= @user.created_at %>!</h2>   
    <h3>Your message has been sent, wait for prompt reply</h3>     
  </body>
</html>