<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Name:  <%= @user['name'] %>!</h2>
    <h2>last_name:  <%= @user['last_name'] %>!</h2>
    <p>message  <%= @user['message'] %>!</p>
   
  </body>
</html>