<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<h2>Name company:   <%= @company.name_comp %>!</h2>
    
    <p>Welcome to petcity! You can now access all the benefits of our application</p>
  </body>
</html>