<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	 
    <p> Your company has disrespected the terms of our application.</p>
    <p>	 You have lost the benefits of our application.</p>
	<p>	Contact our administrators. </p>
  </body>
</html>